

<ul>
	<li><%=@hoy.mday%></li>
	<li><%=@hoy.nombrar_dia%></li>
</ul>

<h3> Citas </h3>


	<% for appointment in @citas_de_hoy %>
		<ul>
			<li><%= appointment.appointment_type.appointment_type %> </li>

			<li><%= link_to("#{appointment.client.nombre_completo}", client_path(:id => appointment.client.id)) %> </li>
			<li><%= appointment.date.strftime "%l:%M %P" %> </li>
			<br />
		</ul>
	<% end %>

