

<ul>
	<li><%=@hoy.mday%></li>
	<li><%=@hoy.nombrar_dia%></li>
</ul>

<h3> Citas </h3>


	<% for appointment in @citas_de_hoy %>
		<ul>
			<li><%= appointment.tipo_de_cita.tipo_de_cita %> </li>

			<li><%= link_to("#{appointment.clienta.nombre_completo}", clienta_path(:id => appointment.clienta.id)) %> </li>
			<li><%= appointment.date.strftime "%l:%M %P" %> </li>
			<br />
		</ul>
	<% end %>

