<div class="container">
	<div class="row">

		<div id="" class="col-md-6">
		</div>

		<div id="appointment-column" class="col-md-6 test-borders">

				<div class="row">

					<div id="" class="col-md-3">
						<div id= "dash-date-box" style="width:50px" class="test-borders">
							<ul>
									<li id="appointment-day"><%=@hoy.mday%></li>
									<li id="appointment-day-text"><%=@hoy.nombrar_dia.upcase%></li>
							</ul>
						</div>
					</div>

					<div id="" class="col-md-9 test-borders">

						<h3> Citas </h3>
					</div>

				</div>
		

				<div class='center appointment-width'>
					<% for appointment in @citas_de_hoy %>
					<div class="test-borders">
						<ul >
							<li><%= appointment.appointment_type.appointment_type %> </li>
							<li><%= link_to("#{appointment.customer.full_name}", customer_path(:id => appointment.customer.id)) %> </li>
							<li><%= appointment.date.strftime "%l:%M %P" %> </li>
							<% if  appointment.customer.land_phone %>
							<li> Tel: <%= "#{appointment.customer.land_phone}" %> </li>
							<% end %>
							<br />
						</ul>
					</div>
					<% end %>
				</div>

		</div>
	</div>
</div>





