<div class="app-width">

<%= bootstrap_form_for @customer, :html => { :multipart => true } do |f| %>

  <div class="customer-form-margin"> 
    <%= f.text_field :nombre, layout: :horizontal %> </div>

  <div class="customer-form-margin"> 
    <%= f.text_field :apellido, layout: :horizontal %> </div>

  <div class="customer-form-margin"> 
    <%= f.text_field :email, layout: :horizontal %> </div>

  <div class="customer-form-margin"> 
    <%= f.text_field :direccion, layout: :horizontal %> </div>

  <div class="customer-form-margin"> 
    <%= f.text_field :telefono, layout: :horizontal %> </div>

  <div class="customer-form-margin"> 
    <%= f.date_select :fecha_de_nacimiento, layout: :horizontal, :order => [:day, :month, :year], :start_year => Time.now.year - 70, :end_year => Time.now.year - 10 %> </div>
  <div class="customer-file-form-margin"> 
    <%= f.file_field :picture, layout: :horizontal, label: "Imagen" %> </div>
  <div class="customerfile-form-margin"> 
    <%= f.text_field :remote_picture_url, layout: :horizontal, label: "Url de Imagen" %> </div>

  <%= f.submit "Actualizar" %>

<% end %>
</div>
