<table class="table">
  ...
</table>

<p> <%= link_to("Nueva Clienta", new_customer_path) %></p>

<%= search_form_for @search do |f| %>
	<%= f.label :nombre_cont, "Nombre" %>
	<%= f.text_field :nombre_cont %>

	<%= f.label :apellido_cont, "Apellido" %>
	<%= f.text_field :apellido_cont %>

	<%= f.submit "Buscar" %>
	
<% end %>
<%= link_to "Activas" , customers_path(:actividad => "1", :q => @q) %>
<%= link_to "Dormidas", customers_path(:actividad => "2", :q => @q) %>


<% for customer in @customers %>
	<ul>
		<li> <%= link_to("#{customer.nombre_completo}", customer_path(:id => customer.id)) %> </li>

		<% unless customer.ordenes_abiertas.empty? %> 
			<li> <%= link_to("Activa", customer_order_path(customer, customer.orders.last)) %> </li>
			<li> <%= link_to("nueva cita", new_customer_appointment_path(customer)) %> </li>
		<% else %> 
			<li> Dormida </li> 
			<li> <%= link_to("nueva orden", new_customer_order_path(customer)) %> </li>
			<li> <%= link_to("nueva cita" , new_customer_appointment_path(customer)) %> </li>
		<% end %>
	</ul>

<% end %>