<div class="app-width">
	<div class="container">
		<div class="row">

			<div id="customer-search-form" class="col-md-6">
			<%= search_form_for @search do |f| %>
			<%= f.label :first_name_cont, "Nombre" %>
			<%= f.text_field :first_name_cont %>

			<%= f.label :last_name_cont, "Apellido" %>
			<%= f.text_field :last_name_cont %>

			<%= f.button :Buscar , name: "actividad", value: "#{@actividad}" %>
			
			<% end %>
			</div>

			<div id="" class="col-md-4">
			<button type="button" class="btn btn-primary"><%= link_to "Activas" , 
			customers_path(:actividad => "1", :q => @q) %></button>
			<button type="button" class="btn btn-primary"><%= link_to "Inactivas", 
			customers_path(:actividad => "2", :q => @q) %></button>
			<button type="button" class="btn btn-primary"><%= link_to "Todas", 
			customers_path(:q => @q) %></button>
			<button type="button" class="btn btn-info"><%= link_to("Nueva Clienta", new_customer_path) %></button>

			</div>

		</div>

	</div>


	<br />
	<br />


	<table class="table table-condensed table-hover table-settings">
		<tr>
			<th> Nombre </th>
			<th> Estado </th>
			<th> Agenda </th>
		</tr> 
		<% for customer in @customers %>
		<tr>
			<td><%= link_to("#{customer.full_name}", customer_path(:id => customer.id)) %> </td>
				<% unless customer.orders.open.empty? %> 
				  <td> <%= link_to("#{customer.orders.last.created_at.strftime '%b %Y'}", customer_order_path(customer, customer.orders.last)) %> </td>
				<% else %> 
				  <td> <%= link_to("Nueva Orden", new_customer_order_path(customer)) %> </td>
				<% end %>

				<% if customer.has_appointment? %>
				  <td> <%= "#{customer.appointments.last.date.strftime "%b %d"}" %> </td>
				<% else %>
				  <td> <%= link_to("nueva cita" , new_customer_appointment_path(customer)) %> </td>
				<% end %>
			<% end %>
		</tr>
	</table>

	<%= will_paginate @customers %>
</div>