<div class="container customer-show app-width">
	<div class="row">
		<div id="" class="show-col col-lg-6 col-md-6 col-sm-6 col-xs-12">

			<div >
					<h3 id="datos">Datos</h3>
 
						<div class="row">

						<div id="" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="thumb-container"> <%= image_tag @customer.picture_url(:thumb).to_s %></div>
						</div>

						 <div id="" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

							<ul id='customer-info'>
								<% if @customer.full_name.blank? == false %>
								<li> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
									&nbsp; <%= @customer.full_name %> </li>	
								<% end %>	
								<% if  @customer.marriage.blank? == false %>						
								<li> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 
									&nbsp; <%= @customer.marriage %> </li>
								<% end %>	
								<% if  @customer.land_phone.blank? == false %>
								<li> <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
									&nbsp; <%= @customer.land_phone %> </li>
								<% end %>	
								<% if  @customer.mobile_phone.blank? == false %>
								<li> <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 
									&nbsp; <%= @customer.mobile_phone %> </li>
								<% end %>	
								<% if  @customer.address.blank? == false %>
								<li> <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
									&nbsp; <%= @customer.address %> </li>
								<% end %>	
								<% if  @customer.workplace.blank? == false %>
								<li> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
									&nbsp; <%= @customer.workplace %> </li>
								<% end %>	
								<% if  @customer.email.blank? == false %>
								<li> <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
									&nbsp; <%= @customer.email %> </li>
								<% end %>	
								<% if @customer.date_of_birth %>
									<li> <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
										&nbsp; <%= @customer.date_of_birth.strftime '%b %d' %> </li>
								<% end %>
								<li> &nbsp; </li>
							<li> <%= link_to "Editar Datos", edit_customer_path(@customer) %> </li></div>
					</ul>
				</div>
			</div>

			<div id="medidas">
				<h3>Medidas</h3>
					<% if @measurement %>
					<ul>
						<li> Talle Frente  : <%= @measurement.talle_frente %> </li>
						<li> Talle Espalda : <%= @measurement.talle_espalda %> </li>
						<li> Imperio       : <%= @measurement.imperio %> </li>
						<li> Contorno      : <%= @measurement.contorno %> </li>
						<li> Espalda       : <%= @measurement.espalda %> </li>
						<li> Busto         : <%= @measurement.busto %> </li>
						<li> Cintura       : <%= @measurement.cintura %> </li>
						<li> Cadera        : <%= @measurement.cadera %> </li>
						<li> Costado       : <%= @measurement.costado %> </li>
						<li> Cotilla       : <%= @measurement.cotilla %> </li>
						<li> Hombro        : <%= @measurement.hombro %> </li>
				  </ul>
			  	<% end %>
			  	<div class='customer-show-align-right'>
			  	<p><%= link_to "Actualizar Medidas", new_customer_measurement_path(:customer_id => @customer.id) %></p>
			  	</div>
			 </div>
		</div>

		<div id="" class="show-col col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<ul class="activity-history-header">
				<li class= <%= @history == 'true' ? "show-active" : 'show-inactive' %>> <h3><%= link_to 'Historia', customer_path(@customer, history: true) %></h3></li>
				<li class= <%= @history == 'true' ? "show-inactive" : 'show-active' %>> <h3><%= link_to 'Actividad', customer_path(@customer) %></h3></li>
			</ul>
			<div class='customer-show-align-center light-border-bottom'>
				<% if @customer.has_appointment?(current_employee) %>
					 Proxima Cita: <span class='glyphicon glyphicon-stop aptype<%= @appointment.appointment_type_id %>-color'></span> <%= @appointment.date.strftime "%b %e %l:%M %P" %> <%= link_to "Editar", edit_customer_appointment_path(@customer, @appointment) %>
				<% else %>
					 <%= link_to "Nueva Cita" , new_customer_appointment_path(@customer) %>
				<% end %>
			</div>

			<div class='customer-show-align-center'>
				<% unless @customer.active?(current_employee) %>
					<p><%= link_to "Abrir Orden", new_customer_order_path(@customer) %></p>						
				<% end %>
			</div>
			<div class="order-list">
			<% if @history %>
					<ul>
					<% for order in current_employee.brand.orders.where(customer_id: @customer.id).closed %>
						<li> <%= link_to "Orden cerrada en #{order.updated_at.strftime '%b %Y'}", customer_order_path(@customer, order)  %> </li>
						<ul>
							<% for item in order.items %>
								<li> <%= item.item_type.item_type %> para <%= item.occasion.occasion %> </li>
								<li class="mini-container"> <%= image_tag item.picture_url(:mini).to_s  %></li>
							<% end %>
						</ul>
					<% end %>
				  </ul>

			<% else %>

			
				<ul >
				<% for order in current_employee.brand.orders.where(customer_id: @customer.id).open %>
					<li class="center"> <%= link_to "Orden abierta en #{order.created_at.strftime '%b %Y'}", customer_order_path(@customer, order)  %> </li>
					<ul>
					<% for item in order.items %>
						<li> <%= item.item_type.item_type %> para <%= item.occasion.occasion %> </li>
						<li class="mini-container"> <%= image_tag item.picture_url(:mini).to_s  %></li>
					<% end %>
					</ul>
				<% end %>
			 </ul>

			<% end %>

			</div>

		</div>

	</div>
</div>








	


