<div>
	<fieldset>

<div id="" class="  col-md-4">


		<%= f.label :tipo_de_prenda %>
		<%= f.select(:item_type_id, @item_types.collect {|c| [ c.item_type, c.id ] }) %>

		<%= f.fields_for :supplies_per_items do |builder| %>
			<%= render 'supplies_per_items_fields', :f => builder %> <br />
		<% end %>
		<br />
		<div id="supply-add"><%= link_to_add_fields "Agregar Insumo", f, :supplies_per_items %></div>


</div>

<div id="" class="  col-md-3">

		<%= f.label :occasion %>
		<%= f.select(:occasion_id, @occasions.collect {|c| [ c.occasion, c.id ] }) %>

</div>

<div id="" class="  col-md-5">

		<%= f.file_field :picture %>
		<br />
		<%= f.label :o_url %>
		<%= f.text_field :remote_picture_url %>


</div>

<div class="submit-order">
	<%= f.hidden_field :_destroy %>
	<%= link_to "Eliminar Prenda", "#", class: "remove_link" %>
</div>

	</fieldset>
</div>








<!-- 	<%= f.hidden_field :_destroy %>
<%= link_to "eliminar", "#", class: "remove_link" %>
		 -->

	<!-- 	<%= f.check_box :_destroy %>
	<%= f.label :_destroy, "eliminar" %> -->