<div class="app-width">
<% @order.errors.each do |attr,msg|  %>
	 <%=msg%>
	<% end %>
	
<h3> Nueva orden para <%= @customer.full_name %> </h3>

<div class="container">
	<div class="row">

		<%= form_for [@customer, @order] do |f| %>

	  <%= f.hidden_field :customer_id, value: @customer.id %>

			<br />
			<%= f.fields_for :items do |builder| %>
			<br />

				<%= render 'items_fields', :f => builder %>

  		<% end %>

  <div class="row">
  	<div id="" class="app-width col-md-12">
  		<div id="item-fields-add"><%= link_to_add_fields "Agregar Prenda", f, :items %></div>
			<div class="submit-order"><%= f.submit "Crear Orden" %></div>
		</div>
	</div>

	<% end %>

	</div>
</div>




</div>
