<% @order.errors.each do |attr,msg|  %>
	 <%=msg%>
	<% end %>
	
<h3> <%= @client.nombre_completo %> </h3>

<%= form_for [@client, @order] do |f| %>

	<%= f.hidden_field :client_id, value: @client.id %>

			<br />
			<%= f.fields_for :items do |builder| %>
			<br />

				<%= render 'items_fields', :f => builder %>

  		<% end %>

  <%= link_to_add_fields "Agregar Prenda", f, :items %>

	<%= f.submit %>


	<% end %>
