<div class="app-width order-show">
<h3>Orden para <%= link_to "#{@order.customer.full_name}", customer_path(@customer) %> </h3>

	<h5> <% if @order.closed == false %>
				<%= link_to "Editar", edit_customer_order_path(:id => @order.id)%>
			 <% end %> 
	</h5>
<br />
<br />
<h4> Prendas: </h4>	

		<ul>
			<% for item in @order.items %>
				<li><%= item.item_type.item_type %> para <%= item.occasion.occasion %></li>
				<% for supply in item.supplies %>
					<li> <%= supply.supply_name %> - <%= supply.supply_color %> </li>
		<!--	<li> <%= supply.supplies_per_items.last.quantity %> </li>   -->
				<% end %>
				<li> <%= image_tag item.picture_url(:thumb).to_s  %> </li>
				<% end %>
		</ul>
<% if @order.closed == false %>
<h5>
	<%= link_to "Cerrar Orden", customer_order_path(@customer, @order, :cerrar => '1')%>
</h5>
	
<br />
<br />
	<h4> Nueva Cita: </h4>
	<br />
	<%= render "appointments/form_for_appointment" %>


<br />

<h4>Abonos</h4>

	<p> Valor total de la Orden: <%= @order.total_value %>
	
	<% if @order.payments.empty? %>
		<p> Clienta no ha abonado a esta orden </p>
	<% else %>
		<p> Pagos efectuados </p>
		<ul>
			<% for payment in @order.payments %>
			<li>$<%= payment.amount %> el dia <%= payment.date.strftime "%Y / %m / %d" %>
			<% end %>
		</ul>
	<% end %>
	
	<p> Nuevo Pago: <p>
	<%= render "orders/form_for_payment" %>
<% end %>
	</div>