appointment
<p> <%= link_to("Nueva Client", new_client_path) %></p>

<%= search_form_for @search do |f| %>
	<%= f.label :nombre_cont, "Nombre" %>
	<%= f.text_field :nombre_cont %>

	<%= f.label :apellido_cont, "Apellido" %>
	<%= f.text_field :apellido_cont %>

	<%= f.submit "Buscar" %>
<% end %>
<%= link_to "Activas" , clients_path(:actividad => "1", :q => @q) %>
<%= link_to "Dormidas", clients_path(:actividad => "2", :q => @q) %>


<% for client in @clients %>
	<ul>
		<li> <%= link_to("#{client.nombre_completo}", client_path(:id => client.id)) %> </li>

		<% unless client.ordenes_abiertas.empty? %> 
			<li> <%= link_to("Activa", client_order_path(client, client.orders.last)) %> </li>
			<li> <%= link_to("nueva cita", new_client_appointment_path(client)) %> </li>
		<% else %> 
			<li> Dormida </li> 
			<li> <%= link_to("nueva orden", new_client_order_path(client)) %> </li>
			<li> <%= link_to("nueva cita", new_client_appointment_path(client)) %> </li>
		<% end %>
	</ul>

<% end %>