appointment
<p> <%= link_to("Nueva Clienta", new_clienta_path) %></p>

<%= search_form_for @search do |f| %>
	<%= f.label :nombre_cont, "Nombre" %>
	<%= f.text_field :nombre_cont %>

	<%= f.label :apellido_cont, "Apellido" %>
	<%= f.text_field :apellido_cont %>

	<%= f.submit "Buscar" %>
<% end %>
<%= link_to "Activas" , clientas_path(:actividad => "1", :q => @q) %>
<%= link_to "Dormidas", clientas_path(:actividad => "2", :q => @q) %>


<% for clienta in @clientas %>
	<ul>
		<li> <%= link_to("#{clienta.nombre_completo}", clienta_path(:id => clienta.id)) %> </li>

		<% unless clienta.ordenes_abiertas.empty? %> 
			<li> <%= link_to("Activa", clienta_order_path(clienta, clienta.orders.last)) %> </li>
			<li> <%= link_to("nueva cita", new_clienta_appointment_path(clienta)) %> </li>
		<% else %> 
			<li> Dormida </li> 
			<li> <%= link_to("nueva orden", new_clienta_order_path(clienta)) %> </li>
			<li> <%= link_to("nueva cita", new_clienta_appointment_path(clienta)) %> </li>
		<% end %>
	</ul>

<% end %>