


<ul>
	<li> <%= @clienta.nombre_completo %>      </li>
	<li> <%= @clienta.telefono  %>            </li>
	<li> <%= @clienta.direccion %>            </li>
	<li> <%= @clienta.email %>                </li>
	<li> <%= @clienta.fecha_de_nacimiento  %> </li>
</ul>