

<h3>Datos</h3>
	<ul>
		<li> <%= @clienta.nombre_completo %>      </li>
		<li> <%= @clienta.telefono  %>            </li>
		<li> <%= @clienta.direccion %>            </li>
		<li> <%= @clienta.email %>                </li>
		<% if @clienta.fecha_de_nacimiento %>
			<li> <%= @clienta.fecha_de_nacimiento.strftime '%b %d' %> </li>
		<% end %>
	</ul>
	<div id="client_picture"> <%= image_tag @clienta.picture_url(:thumb).to_s  %></div>
<p><%= link_to "Editar" ,  edit_clienta_path(@clienta) %></p>

<h3>Actividad</h3>
	<ul>
	<% for orden in @clienta.ordenes_abiertas %>
		<li> <%= link_to "#{orden.created_at.strftime '%b %Y'}", clienta_orden_path(@clienta, orden)  %> </li>
		<ul>
			<% for prenda in orden.prendas %>
				<li> <%= prenda.tipo_de_prenda.tipo_de_prenda %> para <%= prenda.ocasion.ocasion %> </li>
				<li><div id="prenda_picture"> <%= image_tag prenda.picture_url(:thumb).to_s  %></div></li>
			<% end %>
		</ul>
	<% end %>
  </ul>

<h3>Historia</h3>
	<ul>
	<% for orden in @clienta.ordenes_cerradas %>
		<li> <%= link_to "#{orden.created_at.strftime '%b %Y'}", clienta_orden_path(@clienta, orden)  %> </li>
		<ul>
			<% for prenda in orden.prendas %>
				<li> <%= prenda.tipo_de_prenda.tipo_de_prenda %> para <%= prenda.ocasion.ocasion %> </li>
				<li><div id="prenda_picture"> <%= image_tag prenda.picture_url(:thumb).to_s  %></div></li>
			<% end %>
		</ul>
	<% end %>
  </ul>

<h3>Medidas</h3>
	<% if @medida %>
	<ul>
		<li> Talle Frente: <%= @medida.talle_frente %> </li>
		<li> Talle Espalda: <%= @medida.talle_espalda %> </li>
		<li> Imperio: <%= @medida.imperio %> </li>
		<li> Contorno: <%= @medida.contorno %> </li>
		<li> Espalda: <%= @medida.espalda %> </li>
		<li> Busto: <%= @medida.busto %> </li>
		<li> Cintura: <%= @medida.cintura %> </li>
		<li> Cadera: <%= @medida.cadera %> </li>
		<li> Costado: <%= @medida.costado %> </li>
		<li> Cotilla: <%= @medida.cotilla %> </li>
		<li> Hombro: <%= @medida.hombro %> </li>
  </ul>
  <% end %>
	
<p><%= link_to "Actualizar Medidas", new_clienta_medida_path(:clienta_id => @clienta.id) %></p>

<% unless @clienta.ordenes.empty? %>
	<% unless @clienta.has_open_order? %>
		<p><%= link_to "Nueva Orden", new_clienta_orden_path(@clienta) %></p>
	<% end %>
<% else %>
	<p><%= link_to "Nueva Orden", new_clienta_orden_path(@clienta) %></p>
<% end %>

<p><%= link_to "Nueva Cita" ,  new_clienta_cita_path(@clienta) %></p>


