

<h3>Datos</h3>
	<ul>
		<li> <%= @client.nombre_completo %>      </li>
		<li> <%= @client.telefono  %>            </li>
		<li> <%= @client.direccion %>            </li>
		<li> <%= @client.email %>                </li>
		<% if @client.fecha_de_nacimiento %>
			<li> <%= @client.fecha_de_nacimiento.strftime '%b %d' %> </li>
		<% end %>
	</ul>
	<div id="client_picture"> <%= image_tag @client.picture_url(:thumb).to_s  %></div>
<p><%= link_to "Editar" ,  edit_client_path(@client) %></p>

<h3>Actividad</h3>
	<ul>
	<% for order in @client.ordenes_abiertas %>
		<li> <%= link_to "#{order.created_at.strftime '%b %Y'}", client_order_path(@client, order)  %> </li>
		<ul>
			<% for item in order.items %>
				<li> <%= item.item_type.item_type %> para <%= item.occasion.occasion %> </li>
				<li><div id="item_picture"> <%= image_tag item.picture_url(:thumb).to_s  %></div></li>
			<% end %>
		</ul>
	<% end %>
  </ul>

<h3>Historia</h3>
	<ul>
	<% for order in @client.ordenes_cerradas %>
		<li> <%= link_to "#{order.created_at.strftime '%b %Y'}", client_order_path(@client, order)  %> </li>
		<ul>
			<% for item in order.items %>
				<li> <%= item.item_type.item_type %> para <%= item.occasion.occasion %> </li>
				<li><div id="item_picture"> <%= image_tag item.picture_url(:thumb).to_s  %></div></li>
			<% end %>
		</ul>
	<% end %>
  </ul>

<h3>Medidas</h3>
	<% if @measurement %>
	<ul>
		<li> Talle Frente  : <%= @measurement.talle_frente %> </li>
		<li> Talle Espalda : <%= @measurement.talle_espalda %> </li>
		<li> Imperio       : <%= @measurement.imperio %> </li>
		<li> Contorno      : <%= @measurement.contorno %> </li>
		<li> Espalda       : <%= @measurement.espalda %> </li>
		<li> Busto         : <%= @measurement.busto %> </li>
		<li> Cintura       : <%= @measurement.cintura %> </li>
		<li> Cadera        : <%= @measurement.cadera %> </li>
		<li> Costado       : <%= @measurement.costado %> </li>
		<li> Cotilla       : <%= @measurement.cotilla %> </li>
		<li> Hombro        : <%= @measurement.hombro %> </li>
  </ul>
  <% end %>
	
<p><%= link_to "Actualizar Medidas", new_client_measurement_path(:client_id => @client.id) %></p>

<% unless @client.orders.empty? %>
	<% unless @client.has_open_order? %>
		<p><%= link_to "Nueva Orden", new_client_order_path(@client) %></p>
	<% end %>
<% else %>
	<p><%= link_to "Nueva Orden", new_client_order_path(@client) %></p>
<% end %>

<p><%= link_to "Nueva Cita" ,  new_client_appointment_path(@client) %></p>


