<div class="app-width">

	<h3> Actualizar Medidas </h3>

	<div class="appointment-fields">

		<h4> <%= @customer.full_name %> </h4>

			<br />
			<br />

			 <div class="container app-width">
        <div class="row">
			<%= bootstrap_form_for [@customer, @measurement] do |f| %>

				<%= f.hidden_field :customer_id, value: @customer.id %>

				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
			  <%= f.text_field :talle_frente, layout: :horizontal, label: "Talle Frente"  %>
			  </div>
			  
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
			  <%= f.text_field :talle_espalda, layout: :horizontal, label: "Talle Espalda" %>
			  </div>
			  
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :imperio, layout: :horizontal, label: "Imperio" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :contorno, layout: :horizontal, label: "Contorno" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :espalda, layout: :horizontal, label: "Espalda" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :busto, layout: :horizontal, label: "Busto" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :cintura, layout: :horizontal, label: "Cintura" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :cadera, layout: :horizontal, label: "Cadera" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :costado, layout: :horizontal, label: "Costado" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :cotilla, layout: :horizontal, label: "Cotilla" %>
				</div>
				
				<div class="measurement-form-margin col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
				<%= f.text_field :hombro, layout: :horizontal, label: "Hombro" %>
				</div>
			</div>
		</div>
				<br />

				<%= f.submit "Actualizar" %>

				<% end %>
	</div>
</div>
