<h1>Ordenes Abiertas</h1>

<% for orden in @ordenes %>

	<ul>
		<li><%= link_to("#{orden.clienta.nombre_completo}", clienta_path(orden.clienta)) %></li>
		<ul>
			<% for prenda in orden.prendas %>
				<li><%= prenda.tipo_de_prenda.tipo_de_prenda %> para <%= prenda.ocasion.ocasion %> </li>
			<% end %>
		</ul>
		<li><%= link_to("ver orden", clienta_orden_path(orden.clienta, orden)) %></li>
		<% if orden.next_appointment %>
		    <li> Proxima cita: <%= orden.next_appointment.fecha.strftime "%b %d %l %P" %></li>
		<% else %>
		    <li> No hay cita programada </li>
		<% end %>


	</ul>


<% end %>
