<% @orden.errors.each do |attr,msg|  %>
	 <%=msg%>
	<% end %>
	
<h3> <%= @clienta.nombre_completo %> </h3>

<%= form_for [@clienta, @orden] do |f| %>

	<%= f.hidden_field :clienta_id, value: @clienta.id %>

			<br />
			<%= f.fields_for :prendas do |builder| %>
			<br />

				<%= render 'prendas_fields', :f => builder %>

  		<% end %>

  <%= link_to_add_fields "Agregar Prenda", f, :prendas %>

	<%= f.submit %>


	<% end %>
