<h1>Ordenes Show</h1>



<ul>
	<li><%= @orden.clienta.nombre_completo %> </li>
	<% for prenda in @orden.prendas %>
		<ul>
			<li><%= prenda.tipo_de_prenda.tipo_de_prenda %></li>
			<li><%= prenda.ocasion.ocasion %> </li>
			<% for insumo in prenda.insumos %>
				<ul>
					<li> <%= insumo.tipo_de_insumo %> </li>
					<li> <%= insumo.cantidad %> </li>
				</ul>
				<% end %>
		</ul>
	<% end %>

	<% if @orden.cerrada == false %>
		<%= link_to "editar orden", edit_clienta_orden_path(:id => @orden.id)%>
	<% end %>
	
<h3>Abonos</h3>
	
	<%= @orden.valor_total %>
	<%= @orden.abonos.last.valor %>
	<%= render "ordenes/form_for_abono" %>
	


</ul>