<h1>Orden</h1>

<ul>
	<li><%= link_to "#{@orden.clienta.nombre_completo}", clienta_path(@clienta) %> </li>
	<% for prenda in @orden.prendas %>
		<ul>
			<li><%= prenda.tipo_de_prenda.tipo_de_prenda %></li>
			<% for insumo in prenda.insumos %>
				<ul>
					<li> <%= insumo.tipo_de_insumo %> - <%= insumo.cantidad %> </li>
				</ul>
				<% end %>
			<li><div id="prenda_picture"> <%= image_tag prenda.picture_url(:thumb).to_s  %></div></li>
			<li><%= prenda.ocasion.ocasion %> </li>
		</ul>
	<% end %>

	<% if @orden.cerrada == false %>
		<%= link_to "editar orden", edit_clienta_orden_path(:id => @orden.id)%>
	<% end %>
	
<h3>Abonos</h3>

	<p> Valor total de la Orden: <%= @orden.valor_total %>
	
	<% if @orden.abonos.empty? %>
		<p> Clienta no ha abonado a esta orden </p>
	<% else %>
		<p> Pagos efectuados </p>
		<ul>
			<% for abono in @orden.abonos %>
			<li>$<%= abono.valor %> el dia <%= abono.fecha.strftime "%Y / %m / %d" %>
			<% end %>
		</ul>
	<% end %>
	
	<p> Nuevo Pago: <p>
	<%= render "ordenes/form_for_abono" %>

<h3>Citas</h3>

	<p> Nueva Cita: <p>
	<%= render "ordenes/form_for_cita" %>

<br />
<br />

<% if @orden.cerrada == false %>
	<%= link_to "cerrar orden", clienta_orden_path(@clienta, @orden, :cerrar => '1')%>
<% end %>

</ul>