<ul>
	<% if marca_signed_in? %>

	  <li> <%= link_to("Ordenes",    ordenes_path) %> </li>
	  <li> <%= link_to("Clientas",   clientas_path) %> </li>
	  <li> <%= link_to("Calendario", calendario_staticpages_path, method: :get) %> </li>
	  <li> <%= link_to("Inventario", '#') %> </li>

	<% elsif clienta_signed_in? %>

		<li> <%= link_to("Perfil",     '#') %> </li>

	<% else %>

		<li> <%= link_to("Amalin",     '#') %> </li>
    <li> <%= link_to("Judy",       '#') %> </li>
    <li> <%= link_to("Contacto",   '#') %> </li>
    <li> <%= link_to("Historia",   '#') %> </li>

	<% end %>

</ul>
